.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container img {
  max-width: 250px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
}

.container a {
  width: 100%;
  text-decoration: none;
  color: #222;
}

.container a:hover {
  transform: scale(1.02);
}

.projectTitle {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 50px;
}

.projectsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;

  padding: 0 30px;
  box-sizing: border-box;
}

/* Mobile */
@media (max-width: 799px) {
  .projectsContainer {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}